
body{
  position: relative;
  background-image:url(abcd.png);
background-repeat: no-repeat; /* Prevent tiling */
background-position:right top; /* Positions for each image */
  margin: 0; /* Remove default body margin */
  background-position: right 200px top -30px;
  background-color: #000000;
}

.main{
  position: relative;
  font-size: 6em;
  top: 70px;
  left: 500px;
  color: rgb(255, 255, 255);;
  font-family: monospace;
  width: 800px;
  margin: 0;
}


.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
    font-family: monospace;

  }

  .site-header{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 1340px;

  }

  .nav-item{
    margin-left: 50px;
    text-decoration:none ;
    color: rgb(253, 249, 249);
    font-weight: 900;
    font-size: 1.5em;
    font-family: monospace;

  }
  .nav-item:hover{
    color: rgb(248, 222, 222);
    cursor: pointer;
  }


  .foot{
    margin-left: 30px;
    text-decoration:none ;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 0.9em;
    font-family: monospace;

  }
.container2{
  position: fixed;
  display: flex;
  justify-content: center;
  bottom:0px;
  width: 143;
}

  .footer:hover{
    color: rgb(248, 222, 222);
    cursor: pointer;
  }



.feature-image {
    width: 50px; 
    height: auto; 
    margin-bottom: 10px;
  }




.feature h3 {
   margin-top: 0; 
    margin-bottom: 10px; /* Add spacing between h3 and p */
    font-family: monospace;
}

.feature p {
    margin-top: 0; 
    margin-left: 5px;/* Remove top margin if any */
    margin-right: 15px;
    font-family: monospace;
    color: #ffffff;
    font-size: large;
}


#about {
  /* Existing styles */
  max-width: 500px; /* Adjust width as needed */
  margin: 0 auto; /* Center the section horizontally */
  float: left;
}

#about p {
  /* Existing styles */
  text-align: justify; /* Justify text for better reading flow */
}


.start{
  width:30%;
  position: relative;
  font-family: monospace;
  left: 500px;
  top: 100px;
  
  
}

.feature{
  position: relative;
  align-content: space-around;
  margin-top: -200px;
  width:300px;
  align-content: flex-start;
  margin-left: 10px;
  

}







.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #0b57af;
  padding: 0.7em 1.7em ;
  cursor: pointer;
  font-size: 18px;
  font-family: monospace;
  border-radius: 0.5em;
  background: #fffefe;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #3ccafa, -6px -6px 12px #000000, -10px 4px 12px #000000;
  width: 250px;
  height: 70px;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #000000;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #000000;
}

.button2:hover:before {
  top: -35%;
  background-color: #000000;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #000000;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}